# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        121
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        61
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        84
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        56
        -64
        -60
        -62
        -64
        -64
        -60
        0
        0
        -119
        116
        19
        -99
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        121
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        32
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        63
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        84
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        -61
        48
        10
        71
        50
        4
        0
        -8
        -51
        15
        104
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        121
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        65
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        84
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        56
        -64
        -12
        127
        20
        -112
        2
        -2
        -95
        11
        0
        0
        -101
        109
        82
        101
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        121
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        65
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        84
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        63
        10
        70
        18
        -8
        -121
        46
        0
        0
        10
        -23
        17
        118
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


